<?xml version="1.0"?>

<!-- comment -->

<launch>

	<!-- <include file="$(find ydlidar_ros)/launch/TG.launch" /> -->
	<!-- <include file="$(find zed_imu)/launch/zed_combined.launch" /> -->
    <node name="waypoint_heading_controller" pkg="navigation_core" type="waypoint_heading_controller.py" />
    <node name="grid_controller" pkg="navigation_core" type="grid_controller.py" />
    
</launch>
